.title{
    background: darkblue;
    color:aqua;
    padding: 10px;
    font-size:25px;
    margin:0 15px;
}
.sibling1 *{
    border:3px dashed #1A8EC8;
    color:#333;
    padding:5px;
    margin: 15px;
    display: block; 
}
.sibling2 *{
    border:3px solid #1A8EC8;
    color:orange;
    padding:5px;
    margin: 15px;
    display: block; 
}
.sibling3 *{
    border:3px dotted #1A8EC8;
    color:#333;
    padding:5px;
    margin: 15px;
    display: block; 
}
.sibling4 *{
    border:3px dotted #1A8EC8;
    color:red;
    padding:5px;
    margin: 15px;
    display: block; 
}
.sibling5 *{
    border:3px solid #222;
    color:#333;
    padding:5px;
    margin: 15px;
    display: block; 
}
.sibling6 *{
    border:3px solid #222;
    color:darkorange;
    padding:5px;
    margin: 15px;
    display: block; 
}

.sibling7 *{
    border:3px solid #222;
    color:deepskyblue;
    padding:5px;
    margin: 15px;
    display: block; 
}
.sibling8 *{
    border:3px dashed red;
    color:deepskyblue;
    padding:5px;
    margin: 15px;
    display: block; 
}
.sibling9 *{
    border:3px solid blue;
    color:black;
    padding:5px;
    margin: 15px;
    display: block; 
}
.btn{
    margin:10px 15px;
    padding:5px;
    background: #222;
    color: #fff;
    font-size:17px;
    border-radius: 10px;
}
.btn-text{
    width:250px;
    height: auto;
    margin: 10px 5px;
    padding:5px 5px;
    font-size:20px;
    color:red;
}
.btn1{
    margin:10px 15px;
    padding:5px;
    background: #222;
    color: #fff;
    font-size:17px;
    border-radius: 10px;
}
.chaining-text{
    width:300px;
    height: auto;
    margin: 10px 15px;
    padding:5px 5px;
    font-size:20px;
    color:blue;
}
.uikit{
    border:3px solid red;
     margin: 10px 15px;
    padding: 15px;
}
.uikit h2{
    text-align: center;
    font-size:35px;
    color: darkblue;
}
.ajax h2{
    color: orange;
    margin: 10px 15px;
}
.ajax-btn{
     margin-left:15px;
    padding:5px;
    background: #222;
    color: #fff;
    font-size:17px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
